{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>About Me</h1>
        <p>Website by Arundhati.A</p>
        <p>Welcome to Doggy Discovery! As a dog lover, I have created this website to help people discover the perfect dog breed that suits their lifestyle. My goal is to provide valuable insights and information about various dog breeds, allowing visitors to delve deeper into the fascinating world of dogs. With over half of Australians owning pets, it's no surprise that dogs are the most beloved companions in our country. Join me on this journey of exploration and let's uncover the ideal canine companion for you . . . Woof!</p>
        <img src="../static/about_me_dog.png">
    </div>
{% endblock %}
