{% extends 'layout.html' %}

{% block content %}
<title>Check which breed your dog is and discover more about dogs!</title>
<div>
    <body>
    <h1>On a scale from 1 to 10.. </h1>
    <div class="form-container">
        <form action="/questionnaire" method="post">
            <div>
                <div>how active are you?</div>
                <div class="scale-box">
                    <div class="column left-image" style="width: 10%;">
                        <div class="checkbox-wrapper-10">
                            <input type="checkbox"/>
                        </div>
                    </div>
                    <div class="column left-image" style="width: 23%;">
                        <img src="../static/sleepy.png" width="100%" height="100%">
                    </div>
                    <div class="column center-column" style="width: 100%;">
                        <input type="range" style="width:100%" name="active" min="0" max="10" value="{{active or 5}}"
                               class="slider">
                    </div>
                    <div class="column right-image" style="width: 23%;">
                        <img src="../static/flying_dog.png" alt="Image 2" width="100%" height="100%">
                    </div>
                </div>
            </div>
            <div>
                <div>How much okay are you on shedding</div>
                <div class="scale-box">
                    <div class="column left-image" style="width: 10%;">
                        <div class="checkbox-wrapper-10">
                            <input type="checkbox"/>
                        </div>
                    </div>
                    <div class="column left-image" style="width: 23%;">
                        <img src="../static/hairless.png" width="100%" height="100%">
                    </div>
                    <div class="column center-column" style="width: 100%;">
                        <input type="range" style="width:100%" name="shedding" min="0" max="10"
                               value="{{shedding or 5}}"
                               class="slider">
                    </div>
                    <div class="column right-image" style="width: 23%;">
                        <img src="../static/komondor.png" alt="Image 1" class="" width="100%" height="100%">
                    </div>
                </div>
            </div>
            <div>
                <div>How okay are you with aggressive pets?</div>
                <div class="scale-box">
                    <div class="column left-image" style="width: 10%;">
                        <div class="checkbox-wrapper-10">
                            <input type="checkbox"/>
                        </div>
                    </div>
                    <div class="column left-image" style="width: 23%;">
                        <img src="../static/passive.png" width="100%" height="100%">
                    </div>
                    <div class="column center-column" style="width: 100%;">
                        <input type="range" style="width:100%" name="aggression" min="0" max="10"
                               value="{{aggression or 5}}" class="slider">
                    </div>
                    <div class="column right-image" style="width: 23%;">
                        <img src="../static/angry.png" alt="Image 1" class="" width="80%" height="80%">
                    </div>
                </div>
            </div>
            <div>
                <div>How much of space is available to your pet?</div>
                <div class="scale-box">
                    <div class="column left-image" style="width: 10%;">
                        <div class="checkbox-wrapper-10">
                            <input type="checkbox"/>
                        </div>
                    </div>
                    <div class="column left-image" style="width: 23%;">
                        <img src="../static/dog_in_a_box.png" width="100%" height="100%">
                    </div>
                    <div class="column center-column" style="width: 100%;">
                        <input type="range" style="width:100%" name="space" min="0" max="10"
                               value="{{space or 5}}"
                               class="slider">
                    </div>
                    <div class="column right-image" style="width: 23%;">
                        <img src="../static/palace.png" alt="Image 2" width="100%" height="100%">
                    </div>
                </div>
            </div>
            <div>
                <div>How much of time are you willing to spend?</div>
                <div class="scale-box">
                    <div class="column left-image" style="width: 10%;">
                        <div class="checkbox-wrapper-10">
                            <input type="checkbox"/>
                        </div>
                    </div>
                    <div class="column left-image" style="width: 23%;">
                        <img src="../static/5mins.png" width="70%" height="70%">
                    </div>
                    <div class="column center-column" style="width: 100%;">
                        <input type="range" style="width:100%" name="time_commitment" min="0" max="10"
                               value="{{time_commitment or 5}}" class="slider">
                    </div>
                    <div class="column right-image" style="width: 23%;">
                        <img src="../static/24hours.png" alt="Image 2" width="100%" height="100%">
                    </div>
                </div>
            </div>
            <br/>
            <div class="column center-column" style="width: 100%;">
                <button type="submit" class="mybutton">
                    Submit 🐾
                </button>
            </div>
            <br/>
            <div>
                <table border="1">
                    <thead>
                    <tr>
                        <th id="result-table">Name</th>
                        <th>Description</th>
                        <th>View Galary</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for breed in breeds %}
                    <tr>
                        <td>{{ breed.name }}</td>
                        <td>{{ breed.description }}</td>
                        <td>
                            <div style="width: 100%; height: 100%;">
                                <input type="button" onclick="openModal('{{ breed.name }}')"
                                       style="width: 100%; height: 100%;" value="View Photos"/>
                            </div>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <script>
        function openModal(breedName) {
            var url = "./gallery?breed=" + encodeURIComponent(breedName);
            window.open(url, "_blank", "width=600,height=600");
        }
    </script>
    </body>
</div>
{% endblock %}
